.main {
  margin: 3rem auto;
  width: 90%;
  max-width: 40rem;
}

@media screen and (max-width: 600px) {
  .main > h1 ~ div h1 {
    text-align: center;
  }
  @media screen and (max-width: 600px) {
    .main > div > h1 {
      text-align: center;
    }
  }
}
